.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container--horizontal {
  flex-direction: column;
}

.container--vertical {
  flex-direction: column;
}

@media (min-width: 62em) {
  .container--horizontal {
    flex-direction: row;
    align-items: flex-start;
  }
}