#root {
  align-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0 0.5rem;
  text-align: center;
  flex-grow: 1;
}

@font-face {
  font-family: "Satisfontory";
  src: url("./assets/fonts/Satisfontory_v1.5.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.title {
  /* font-weight: 600; */
  font-size: 1.5em;
  font-family: "Satisfontory";
  padding: 0.5rem 0;
}

.version {
  padding: 0.5rem 0;
  font-size: 0.75em;
  font-style: italic;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.table-title {
  color: #fa9549;
}

.table-container {
  padding: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.table-container-inner {
  flex-wrap: wrap;
}

.inner-table {
  border: none;
  border-radius: 0;
  background: #101010;
  width: 100%;
}

.scroll-container {
  overflow-y: auto;
  height: 85vh;
}

tr.selected {
  color: #fa9549;
}

.button-container {
  padding: 0.5rem;
}

@media (prefers-color-scheme: light) {

  .table-title {
    background: #646464;
    color: unset;
  }

  tr.selected {
    color: unset;
    font-weight: 600;
  }

  tr.selected td {
    background: #fa9549;
  }
}