#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.table-title {
  color: #fa9549;
}

.table-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.table-container-inner {
  flex-wrap: wrap;
}

.inner-table {
  border: none;
  border-radius: 0;
  background: #101010;
  width: 100%;
}

.scroll-container {
  overflow-y: auto;
  height: 85vh;
}

tr.selected {
  color: #fa9549;
}