#root {
  align-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0 0.5rem;
  text-align: center;
  flex-grow: 1;
}

#root img {
  max-width: 90vw;
}

@font-face {
  font-family: "Satisfontory";
  src: url("./assets/fonts/Satisfontory_v1.5.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.title {
  /* font-weight: 600; */
  font-size: 1.5em;
  font-family: "Satisfontory";
  padding: 0.5rem 0;
}

.version {
  padding: 0.5rem 0;
  font-size: 0.75em;
  font-style: italic;
}

.table-title {
  color: #fa9549;
}

.table-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.table-container-inner {
  flex-wrap: wrap;
}

.inner-table {
  border: none;
  border-radius: 0;
  background: #101010;
  width: 100%;
}

.main-item-list {
  overflow-y: auto;
  height: 85vh;
  width: 100%;
  transition: height 1s ease-in-out;
}

.main-item-list__cover-title {
  border-radius: 8px 8px 0 0;
  border: none;
  height: 0px;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.main-item-list__cover-title--closed {
  height: 26px;
  border: rgba(255, 255, 255, 0.25) 1px solid;
}

.main-item-list--closed {
  height: 0px;
  overflow: hidden;
}

.expand-down-button {
  border-radius: 0 0 8px 8px;
  border: rgba(255, 255, 255, 0.25) 1px solid;
  background: #646464;
}

.expand-down-button:hover {
  background: #949494;
}

.scroll-container {
  overflow-y: auto;
  height: 85vh;
  width: 100%;
}

tr.selected {
  color: #fa9549;
}

.button-container {
  padding: 0.5rem;
}

@media (prefers-color-scheme: light) {

  .table-title {
    background: #646464;
    color: unset;
  }

  tr.selected {
    color: unset;
    font-weight: 600;
  }

  tr.selected td {
    background: #fa9549;
  }

  .main-item-list__cover-title--closed,
  .expand-down-button {
    border: #5f668c 1px solid;
  }

}

@media (min-width: 62em) {
  .scroll-container {
    width: unset;
  }

  .main-item-list {
    height: 85vh;
    overflow-y: scroll;
  }

  .main-item-list__cover-title {
    display: none;
  }

  .expand-down-button {
    display: none;
  }

  .table-container {
    flex-direction: row;
  }
}